<configuration>

    <!-- Appender para consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Muestra fecha, hora, nivel, clase y mensaje -->
            <pattern>
                %green(%d{dd/MM/yyyy}) %green(%d{HH:mm:ss}) %highlight(%-5level) %cyan(%logger{0}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Logger raíz, de nivel INFO -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
